/* Style the navigation bar */
.nav {
    background-color: #333;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.siteName{
    text-align: center;
}
/* Style the login form */
.login {
    background: #eceeee;
    border: 1px solid #42464b;
    border-radius: 6px;
    height: 257px;
    margin: 20px auto 0;
    width: 298px;
}
h2 {
    padding-top: 14px;
    margin: 0;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
}
input[type="password"], input[type="text"] {
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 39px;
    margin: 31px 0 0 29px;
    padding-left: 37px;
    transition: box-shadow 0.3s;
    width: 240px;
}
input[type="submit"] {
    width:240px;
    height:35px;
    display:block;
    font-family:Arial, "Helvetica", sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    text-transform:uppercase;
    text-align:center;
    padding-top:6px;
    margin: 29px 0 0 29px;
    position:relative;
    border: none;
    background-color: #333;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
}
input[type="submit"]:active {
    top:3px;
}
/* Style the products */
div.products {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
div.products:hover {
    box-shadow: #b5b5b5 10px 10px 5px;
}
div.products img {
    width: 100%;
    height: auto;
}
div.product_description {
    padding: 15px;
    text-align: center;
}
div.shopping{
    margin-left: 19%;
}
button{
    width:100px;
    height:35px;
    display:block;
    color:#fff;
    text-align:center;
    margin: 29px 0 0 29px;
    position:relative;
    border: none;
    background-color: #333;
}